body {
  font-weight: 100;
  color: #000;
  font-size: 15px;
  line-height: 1.1;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'orbitron', sans-serif;
}

h4, h2 { color: #000; }

h4 { font-size: 20px; }

a { color: #000; }

.pt-lg-5, .py-lg-5 {
  padding-top: 0 !important;
}
.mb-6, .my-6 {
  margin-bottom: 0 !important;
}

.pt-6, .py-6 {
    padding-top: 3rem !important;
}

.card-body {
  margin-top: 15px;
  padding: 0;
}

.card {
  border: none;
  margin-bottom: 15px;
}

.card-img-top {
  height: 14rem;
  width: 100%;
  background-size: cover;
  background-repeat:no-repeat;
  background-position: 50% 50%;
}

@media only screen and (max-width: 600px) {
  .card-img-top {
    height: 10rem;
  }
}

.card-img, .card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.logoheader {
  height: 40px;
}

#navbar-main-menu {
    -webkit-transition: none;
    transition: none;
}
.shadow-sm {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.in-development {
    width: 100%;
    height: 100%;
    text-align: center;
}


.in-development img {
    margin-top: 20%;
    width: 10%;
}

@media only screen and (max-width: 600px) {
  .in-development img {
      margin-top: 75%;
      width: 30%;
  }
}

.pink-link:hover {
    color: #ea5688;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .active .nav-link {
    color: #ea5688;
}

.bg-dark {
    background-color: #000 !important;
}

.text-muted {
    color: #000 !important;
}

/* .card-text {
    font-style: italic;
} */

.fa-stack-2x {
    font-size: 0em;
}

.list-inline, .list-unstyled {
    position: absolute;
}

a:hover {
    text-decoration: none;
}

.highlight-cover {
  height: 350px;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}

.highlight-filter {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 50%;
  text-align: center;
}

.highlight-cover h2 {
  color: white;
  font-size: 6.25rem;
  line-height: 350px;
}

.highlight-cover.secondary h2 {
    font-size: 2.0rem;
    line-height: 250px;
}

.highlight-cover.secondary {
  height: 250px;
}

@media only screen and (max-width: 600px) {
  .highlight-cover h2 {
    font-size: calc(1.35rem + 1.2vw);
    padding-top: 15%;
    line-height: inherit;
  }
  .highlight-cover.secondary h2 {
    font-size: calc(1.35rem + 1.2vw);
    padding-top: 15%;
    line-height: inherit;
  }
  .highlight-cover {
    height: 7rem;
  }
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.partner-list{
    text-align: right;
    color: white;
    font-family: 'orbitron';
}

.partner-list li {
    top: 5px;
    position: relative;
}

.partner-list li:nth-child(1) {
    top: 10px;
}

.partner-list img {
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    height: 2em;
    margin-top: 6px;

}

.info-bar {
  padding: 10px;
  font-family: 'orbitron';
  letter-spacing: 1px;
}

.background-pink {
  background-color: #ea5688;
  color: white;
}

.info-bar span {
  margin-right: 10px;
  line-height: 18px;
  font-size: 13px;
}

.content {
  margin-top: 20px;
}

.article {
  margin-bottom: 80px;
}

.navbar-nav {
  font-family: 'orbitron';
}
