
body {
  font-weight: 100;
}

.card {
  border: none;
}

.card-img-top {
  height: 174px;
  width: 100%;
  background-size: cover;
  background-repeat:no-repeat;
  background-position: 50% 50%;
}

.card-img, .card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.logoheader {
  height: 40px;
}

#navbar-main-menu {
    -webkit-transition: none;
    transition: none;
}
.shadow-sm {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Anton', sans-serif;
}

a {
  color: #000;
}

h4, h2 {
  color: #000;
}

body {
  color: #000;
}

.card-img-top {
  height: 232px;
}

h4, h4 {
  font-size: 20px;
}

body {
    font-size: 15px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(238, 14, 98, 0.82);
}    
