body {
  font-weight: 100;
  color: #000;
  font-size: 15px;
  line-height: 1.1;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'orbitron', sans-serif;
}

h4, h2 { color: #000; }

h4 { font-size: 20px; }

a { color: #000; }
a { text-decoration: none; }
a:hover { text-decoration: none; }

.pt-lg-5, .py-lg-5 {
  padding-top: 0 !important;
}
.mb-6, .my-6 {
  margin-bottom: 0 !important;
}

.pt-6, .py-6 {
    padding-top: 3rem !important;
}

.pt-7, .py-7 {
  padding-top: 3rem !important;
}

.card-body {
  margin-top: 15px;
  padding: 0;
}

.card {
  border: none;
  margin-bottom: 15px;
}

.card-img-top {
  height: 14rem;
  width: 100%;
  background-size: cover;
  background-repeat:no-repeat;
  background-position: 50% 50%;
}

@media only screen and (max-width: 600px) {
  .card-img-top {
    height: 10rem;
  }
}

.card-img, .card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.logoheader {
  height: 40px;
}

#navbar-main-menu {
    -webkit-transition: none;
    transition: none;
}
.shadow-sm {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.language-flag {
  max-width: 22px;
}

.in-development {
    width: 100%;
    height: 100%;
    text-align: center;
}

.in-development img {
    margin-top: 20%;
    width: 10%;
}

@media only screen and (max-width: 600px) {
  .in-development img {
      margin-top: 75%;
      width: 30%;
  }
}

.pink-link:hover {
    color: #ea5688;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .active .nav-link {
    color: #ea5688;
}

.dropdown-item:hover {
  background-color: white;
  color: #ea5688;
}

.dropdown-menu {
  border-radius: 0px;
  border: 0px;
  font-size: 1rem;
}

.bg-dark {
    background-color: #000 !important;
}

.text-muted {
    color: #000 !important;
}

.fa-stack-2x {
    font-size: 0em;
}

.list-inline, .list-unstyled {
    position: absolute;
    margin-top: 4px;
}

.highlight-cover {
  height: 350px;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}

.highlight-filter {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);;
  text-align: center;
}

.highlight-cover h2 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 6.25rem;
  line-height: 350px;
}

.highlight-cover.secondary h2 {
    font-size: 2.0rem;
    line-height: 250px;
}

.highlight-cover.secondary {
  height: 250px;
}

@media only screen and (max-width: 600px) {
  .highlight-cover h2 {
    font-size: calc(1.35rem + 1.2vw);
    padding-top: 3rem;
    line-height: 1;
  }
  .highlight-cover.secondary h2 {
    font-size: calc(1.35rem + 1.2vw);
    padding-top: 2rem;
    line-height: 1;
  }
  .highlight-cover, .highlight-cover.secondary {
    height: 7rem;
  }
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer ul {
  margin: 2px 0;
  padding: 0;
}

.partner-list {
    color: white;
    font-family: 'orbitron';
}

.partner-list li {
    margin-bottom: 5px;
}

.partner-list img {
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    height: 1.4em;
}


@media only screen and (min-width: 767px) {
  .partner-list li {
    top: 6px;
    position: relative;
  }
  .partner-list li:nth-child(1) {
      top: 10px;
  }
  .partner-list img {
    margin-top: 6px;
  }
  .partner-list {
    text-align: right;
  }
  .contact-list {
    text-align: left;
  }
}

.article h2{
  margin-bottom: 0px !important;
}

.article .description {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  display: block;
}

.info-bar {
  padding: 10px;
  font-family: 'orbitron';
  letter-spacing: 1px;
  line-height: 1.6;
}

.info-bar i {
  margin-right: 3px;
}

.info-bar i.fa-long-arrow-alt-up {
  margin: -2px;
}

.background-pink {
  background-color: #ea5688;
  color: white;
}

.info-bar span {
  margin-right: 10px;
  line-height: 18px;
  font-size: 13px;
}

.info-bar a {
  text-decoration: none;
}

.info-bar a:hover {
  color: #ea5688;
}

.article .content {
  margin-top: 20px;
  margin-bottom: 80px;
}

.article .content p {
  margin-bottom: 20px;
  text-indent: 1em;
  text-align: justify;
}

.article .content figure {
  max-width: 100%;
  margin-bottom: 20px;
}

.article .content hr {
  opacity: 0;
  margin: 0;
}

@media only screen and (min-width: 767px) {
  .article .content .half-img {
    max-width: 48%;
  }
  .article .content .half-img.left {
    float: left;
    margin-right: 2%;
  }
  .article .content .half-img.right {
    float: right;
    margin-left: 2%;
  }
  .article .content .half-img.left.single {
    margin-right: 4%;
  }
  .article .content .half-img.right.single {
    margin-left: 4%;
  }
  .article .content hr {
    margin: 20px 0;
  }
}

.content .breadcrumbs {
  margin-top: 20px;
  font-family: 'orbitron';
}

.content .breadcrumbs .current {
  color: #ea5688;
}

.content .breadcrumbs a:hover {
  color: #ea5688;
}

.navbar-nav {
  font-family: 'orbitron';
}

.modal-content {
  border-radius: 1px;
}

.fotos.list img {
  width: 100%;
  object-fit: cover;
  max-height: 14rem;
}

.fotos.list .fa-images {
  color: white;
  float: right;
  position: relative;
  top: -22px;
  margin-bottom: -30px;
  right: 8px;
  font-size: 1rem;
  text-shadow: 2px 2px 4px black;
}

.info-photographers {
  color: #ea5688;
}

.album-title {
  font-family: orbitron;
  margin-top: 0.15rem;
  margin-bottom: .75rem;
  font-size: 18px;
}
