<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "pt-br" }}">
<head>
    {{ partial "head.html" . }}
</head>
<body>
    {{- if (and .Site.Params.inDevelopment (not .Site.BuildDrafts)) -}}
      {{ partial "in-development.html" }}
      {{ partial "footer-indevelopment.html" . }}

    {{- else -}}
      {{ partial "header.html" . }}

      {{ block "main" . }}{{ end }}
      {{ partial "footer.html" . }}

    {{- end -}}


    {{ partial "foot.html" . }}

    {{ template "_internal/google_analytics.html" . }}
</body>
</html>
