{{ define "main" }}
<main class="content-page container pt-7 pb-5">
    <div class="row">
        <div class="col">
            <article class="article">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="mb-3">{{ .Title }}</h2>
                          <div class="info-bar background-pink">
                            {{ with .Params.Gears }}
                              <i title="Engrenagem" class="icon-bar fas fa-cog fa-lg"></i> <span> {{ . }} </span>
                            {{ end }}
                            {{ with .Params.People }}
                              <i title="Viajantes" class="icon-bar fas fa-users fa-lg"></i> <span> {{ . }}  </span>
                            {{ end }}
                            {{ with .Params.Duration }}
                              <i title="Duração" class="icon-bar far fa-calendar-alt fa-lg"></i> <span> {{ . }} </span>
                            {{ end}}
                            {{ with .Params.Altimetry}}
                              <i title="Altimetria" class="icon-bar fas fa-long-arrow-alt-up"></i>
                              <i title="Altimetria" class="icon-bar fas fa-long-arrow-alt-down"></i> <span> {{ . }} </span>
                            {{ end }}
                            {{ with .Params.Distance }}
                              <i title="Distância" class="icon-bar fas fa-road fa-lg"></i> <span> {{ . }} </span>
                            {{ end }}
                            {{ with .Params.Churchs }}
                               <i title="Igrejas" class="fas fa-church fa-lg"></i> <span> {{ . }} </span>
                            {{ end }}
                         </div>
                         <div class="info-bar">
                           {{ with .Params.Photographers}}
                              <i title="Fotógrafo" class="fas fa-camera fa-lg"></i> <span> {{ . }} </span>
                           {{ end }}
                           {{ with .Params.Authors }}
                              <i title="Autor" class="fas fa-user-edit fa-lg"></i> <span> {{ . }} </span>
                           {{ end }}

                        </div>
                        <div class="content">
                            {{ .Content }}
                        </div>
                    </div>
                </div>
            </article>
            <div class="articles row row-cols-1 row-cols-lg-3">
                {{ range (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
                    <div class="col mb-3">
                        {{ .Render "card" }}
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</main>
{{ end }}
