{{ define "main" }}
<main class="content-page container pt-7 pb-5">
    <div class="row">
        <div class="col">
            <article class="article">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="mb-3">{{ .Title }}</h2>
                          <div class="info-bar background-pink">
                            {{ with .Params.Gears }}
                              <nobr><i title='{{ i18n "gear" }}' class="fas fa-cog fa"> </i><span> {{ . }} </span></nobr>
                            {{ end }}
                            {{ with .Params.Distance }}
                              <nobr><i title='{{ i18n "distance" }}' class="fas fa-road fa"></i> <span> {{ . }} </span> </nobr>
                            {{ end }}
                            {{ with .Params.Altimetry}}
                              <nobr>
                                <i title='{{ i18n "altimetry" }}' class="fas fa-long-arrow-alt-up"></i>
                                <i title='{{ i18n "altimetry" }}' class="fas fa-long-arrow-alt-down"></i> <span> {{ . }} </span>
                              </nobr>
                            {{ end }}
                            {{ with .Params.Duration }}
                              <nobr><i title='{{ i18n "duration" }}' class="fas fa-hourglass-half fa"></i> <span> {{ . }} </span></nobr>
                            {{ end}}
                            {{ with .Params.People }}
                              <nobr><i title='{{ i18n "travelers" }}' class="fas fa-users fa"></i> <span> {{ . }}  </span></nobr>
                            {{ end }}
                            {{ with .Params.Churchs }}
                               <nobr><i title='{{ i18n "church" }}' class="fas fa-church fa"></i> <span> {{ . }} </span></nobr>
                            {{ end }}
                            {{ with .Params.Year }}
                               <nobr><i title='{{ i18n "year" }}' class="far fa-calendar-alt fa"></i> <span> {{ . }} </span></nobr>
                            {{ end }}
                         </div>
                         <div class="info-bar">
                           {{- $authors := .Params.Authors -}}
                           {{- $photographers := .Params.Photographers -}}
                           {{- $translator := .Params.Translator -}}

                           <nobr><i title='{{ i18n "photography" }}' class="fas fa-camera fa"></i>
                             {{ range .Site.Params.Contributors }}
                               {{- $contributor := . -}}
                               {{- if in $photographers $contributor.name -}}
                                   <a target="_blank" href="https://instagram.com/{{ $contributor.insta }}"> <span> {{ $contributor.name }} </span> </a>
                               {{- end -}}
                             {{ end }}
                           </nobr>

                           <nobr><i title='{{ i18n "author" }}' class="fas fa-user-edit fa"></i>
                               {{ range .Site.Params.Contributors }}
                                 {{- $contributor := . -}}
                                 {{- if in $authors $contributor.name -}}
                                    <a target="_blank" href="https://instagram.com/{{ $contributor.insta }}"> <span> {{ $contributor.name }} </span> </a>
                                 {{- end -}}
                               {{ end }}
                           </nobr>

                           <nobr><i title='{{ i18n "translator" }}' class="fas fa-globe fa"></i>
                               {{ range .Site.Params.Contributors }}
                                 {{- $contributor := . -}}
                                 {{- if in $translator $contributor.name -}}
                                    <a target="_blank" href="https://instagram.com/{{ $contributor.insta }}"> <span> {{ $contributor.name }} </span> </a>
                                 {{- end -}}
                               {{ end }}
                           </nobr>
                        </div>
                        <div class="content">
                            {{ .Content }}
                            {{ with .Params.IdKomoot }}
                              <iframe src="https://www.komoot.com/tour/{{ . }}/embed?profile=1" width="100%" height="580" frameborder="0"></iframe>
                            {{ end }}

                            <div class="breadcrumbs">
                              <a href="{{ .Site.BaseURL }}">{{ i18n "home" }}</a> »
                              {{ with (index .Site.Menus.main 0) }}
                                <a href="{{.URL}}">{{.Name}}</a> »
                              {{ end }}
                              <a class="current" href="{{ .Permalink }}">{{ .Title }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <div class="articles row row-cols-1 row-cols-lg-3">
                {{ range (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
                    <div class="col mb-3">
                        {{ .Render "card" }}
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</main>
{{ end }}
