{{ define "main" }}
<main class="fotos list container py-6">
    <div class="row row-cols-1 row-cols-lg-3">
        {{ range $index, $page := .Pages.ByPublishDate }}
            <div class="col mb-3">

                <div class="card h-100">
                    {{- with $page.Params.images -}}
                        {{- $cover := (index . 0) -}}
                        {{- range $page.Resources -}}
                            {{ if in (string $cover) (string .) }}
                                <figure>
                                    <a href="{{ .Permalink }}" data-toggle="lightbox" data-gallery="gallery-{{ $index }}">
                                        <img src="{{ .Permalink }}" class="img-fluid">
                                    </a>
                                    {{ if gt (len $page.Resources) 1 }}<i title="Distância" class="far fa-images"></i>{{ end }}
                                </figure>
                            {{ else }}
                                <a href="{{ .Permalink }}" data-toggle="lightbox" data-gallery="gallery-{{ $index }}"></a>
                            {{ end }}
                        {{- end -}}
                    {{- end -}}

                    <h4 class="album-title">{{ $page.Title | plainify }}</h4>
                    <div>
                      <span>{{ $page.Description | plainify }}</span>
                      {{- $photographers := .Params.Photographers -}}
                        <br/>
                        {{- range .Site.Params.Contributors -}}
                          {{- $contributor := . -}}
                          {{- if in $photographers $contributor.name -}}
                              <a target="_blank" class="info-photographers" href="https://instagram.com/{{ $contributor.insta }}"><span title="Fotografia">{{- $contributor.name -}}</span></a>
                          {{- end -}}
                        {{- end -}}

                      {{- with .Params.Year -}}
                         <span title="Data" >, {{ . }}</span>
                      {{- end -}}
                    </div>
                </div>

            </div>
        {{ end }}
    </div>
</main>
{{ end }}
