<footer class="footer text-center bg-dark py-0">
  <!-- <iframe src="https://open.spotify.com/embed/playlist/0fuoTFnmTga62x2ZMvOMf2" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 mb-12">
                <ul class="contact-list">
                    {{- if .Site.Params.social.email -}}
                    <li class="list-inline-item">
                        <a href="mailto:{{ .Site.Params.social.email }}" class="icons d-block">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-envelope fa-stack fa-inverse pink-link"></i>
                            </span>
                        </a>
                    </li>
                    {{- end -}}
                    {{- range $name, $path := .Site.Params.social -}}
                        {{- if and $path (not (in (slice "rss" "email") $name)) -}}
                        <li class="list-inline-item">
                            <a href="{{ $path | safeURL }}" class="icons d-block" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fab fa-{{ $name }} fa-stack fa-inverse pink-link"></i>
                                </span>
                            </a>
                        </li>
                        {{- end -}}
                    {{- end }}
                </ul>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 mb-12">
              <ul class="partner-list">
                 <li class="list-inline-item">
                   <span> Apoio: </span>
                 </li>
                  <li class="list-inline-item">
                      <a  href="https://www.instagram.com/alpina_sports/" class="d-block" target="_blank">
                          <img class="partner" src="{{ .Site.BaseURL }}images/partner/alpina.png" alt="Alpina">
                      </a>
                  </li>
                <li class="list-inline-item">
                      <a  href="https://www.instagram.com/velodeathofficial/" class="d-block" target="_blank">
                          <img class="partner" src="{{ .Site.BaseURL }}images/partner/velodeath.png" alt="Velodeath">
                      </a>
                </li>
                <li class="list-inline-item">
                      <a  href="https://www.instagram.com/katsukazan/" class="d-block" target="_blank">
                          <img class="partner" src="{{ .Site.BaseURL }}images/partner/katsu.png" alt="Alpina">
                      </a>
                </li>
              </li>
               <li class="list-inline-item">
                   <a  href="https://www.instagram.com/bikehandling/" class="d-block" target="_blank">
                       <img class="partner" src="{{ .Site.BaseURL }}images/partner/bikehandling.png" alt="Bike Handling">
                   </a>
               </li>
              </ul>
            </div>

        </div>
    </div>
</footer>
