<footer class="footer text-center bg-dark py-0">
  <!-- <iframe src="https://open.spotify.com/embed/playlist/0fuoTFnmTga62x2ZMvOMf2" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
    <div class="container">
        <div class="row">
            <div class="contacts-container col-lg-5 col-md-5 col-sm-7 col-7 mb-7">
                <ul class="contact-list">
                    {{- if .Site.Params.social.email -}}
                    <li class="list-inline-item">
                        <a href="mailto:{{ .Site.Params.social.email }}" class="icons d-block">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-envelope fa-stack fa-inverse pink-link"></i>
                            </span>
                        </a>
                    </li>
                    {{- end -}}
                    {{- range $name, $path := .Site.Params.social -}}
                        {{- if and $path (not (in (slice "rss" "email") $name)) -}}
                        <li class="list-inline-item">
                            <a href="{{ $path | safeURL }}" class="icons d-block" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fab fa-{{ $name }} fa-stack fa-inverse pink-link"></i>
                                </span>
                            </a>
                        </li>
                        {{- end -}}
                    {{- end }}
                </ul>
            </div>

            <div class="cc-list-container col-lg-2 col-md-2 col-sm-4 col-4 mb-4">
                <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" class="icons d-block">
                    <span class="fa-lg"><i class="list-inline-item fab fa-creative-commons fa-stack fa-inverse pink-link"></i></span>
                    <span class="fa-lg"><i class="list-inline-item fab fa-creative-commons-by fa-stack fa-inverse pink-link"></i></span>
                </a>
            </div>

            <div class="partners-container col-lg-5 col-md-5 col-sm-12 mb-12">
              <ul class="partner-list">
                 <li class="list-inline-item">
                   <span>{{ i18n "support" }}: </span>
                 </li> <br id="brake-line">
                  <li class="list-inline-item">
                      <a  href="https://www.afora.cc/" class="d-block" target="_blank">
                          <img class="partner" src="{{ .Site.BaseURL }}partner/images/afora.png" alt="Afora">
                      </a>
                  </li>
                <li class="list-inline-item">
                      <a  href="https://www.instagram.com/velodeathofficial/" class="d-block" target="_blank">
                          <img class="partner" src="{{ .Site.BaseURL }}partner/images/velodeath.png" alt="Velodeath">
                      </a>
                </li>
                <li class="list-inline-item">
                      <a  href="https://www.instagram.com/katsukazan/" class="d-block" target="_blank">
                          <img class="partner" src="{{ .Site.BaseURL }}partner/images/katsu.png" alt="Katsukazan">
                      </a>
                </li>
              </li>
               <li class="list-inline-item">
                   <a  href="https://www.instagram.com/bikehandling/" class="d-block" target="_blank">
                       <img class="partner" src="{{ .Site.BaseURL }}partner/images/bikehandling.png" alt="Bike Handling">
                   </a>
               </li>
              </ul>
            </div>

        </div>
    </div>
</footer>
