{{ define "main" }}
<main class="homepage container py-6">
        {{ $page := (index (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) 2 ) }}
        <div class=" row py-lg-5">
            <div class="col-lg-12 mb-12">
                {{- with $page.Params.images -}}
                    {{- $images := . -}}
                    {{- with $page.Site.GetPage "section" "images" -}}
                        {{- with .Resources.GetMatch (strings.TrimPrefix "/images/" (index $images 0)) -}}
                            {{- $image := . -}}
                            <a href="{{ $page.RelPermalink }}" class="d-block">
                              <div class="highlight-cover" style='background-image: url({{ $image.RelPermalink }})' alt="{{ $page.Title }}">
                                  <div class="highlight-filter" >
                                    <h2> {{ $page.Title }} </h2>
                                  </div>
                              </div>
                            </a>
                        {{- end -}}
                    {{- end -}}
                {{- end -}}
            </div>
        </div>

        {{ $page := (index (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) 0 ) }}
        <div class=" row py-lg-5">
            <div class="col-lg-6 mb-6">
                {{- with $page.Params.images -}}
                    {{- $images := . -}}
                    {{- with $page.Site.GetPage "section" "images" -}}
                        {{- with .Resources.GetMatch (strings.TrimPrefix "/images/" (index $images 0)) -}}
                            {{- $image := . -}}
                            <a href="{{ $page.RelPermalink }}" class="d-block">
                              <div class="highlight-cover secondary" style='background-image: url({{ $image.RelPermalink }})' alt="{{ $page.Title }}">
                                  <div class="highlight-filter" >
                                    <h2> {{ $page.Title }} </h2>
                                  </div>
                              </div>
                            </a>
                        {{- end -}}
                    {{- end -}}
                {{- end -}}
            </div>

            <div class="col-lg-6 mb-6">
                {{ $page := (index (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) 3 ) }}
                {{- with $page.Params.images -}}
                    {{- $images := . -}}
                    {{- with $page.Site.GetPage "section" "images" -}}
                        {{- with .Resources.GetMatch (strings.TrimPrefix "/images/" (index $images 0)) -}}
                            {{- $image := . -}}
                            <a href="{{ $page.RelPermalink }}" class="d-block">
                                <div class="highlight-cover secondary" style='background-image: url({{ $image.RelPermalink }})' alt="{{ $page.Title }}">
                                    <div class="highlight-filter" >
                                        <h2> {{ $page.Title }} </h2>
                                    </div>
                                </div>
                            </a>
                        {{- end -}}
                    {{- end -}}
                {{- end -}}
            </div>
        </div>
  </main>
{{ end }}
